/* Variables */
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

/* KEYFRAMES */

@keyframes bounce {
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}


@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-160px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}