li {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 5px;
}

#list {
  column-count: 4;
}

.red-heart svg {
  fill: red;
}

#pagination {
  display: flex;
  gap: 5px;
}
